{% extends "base.html" %}
{% load static %}

{% block title %}
{{ group_name_short }} - Psy
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'register/dogs.css' %}">
{% endblock %}

{% block content %}
<section id="main-dog-section">
    <div class="dog-page-title">
        <p>PSY</p>
    </div>
    <div class="dog-add-section">
        <button type="button" class="dog-add-button">
            <a href="{% url 'register:dodaj-psa' %}">Dodaj psa</a>
        </button>
    </div>

    <div>
        {% if dog_list|length == 0 %}
            <p>Brak psów do wyświetlenia.</p>
        {% else %}
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Zdjęcie</th>
                <th>Imię</th>
                <th>Hodowla</th>
                <th>Płeć</th>
                <th>Data urodzenia</th>
                <th>Chip</th>
                <th>Egzamin teren 0</th>
                <th>Egzamin teren 1</th>
                <th>Egzamin gruzy 0</th>
                <th>Egzamin gruzy 1</th>
                <th>Właściciel</th>
            </tr>
            </thead>
            <tbody>
            {% for dog in dog_list %}
            <tr>
                <td class="dog-lp-cell">{{ forloop.counter0|add:page_obj.start_index }}.</td>
                <td class="dog-image-cell">
                    {% if not dog.dog_image %}
                    <img src="{% static 'images/default-dog.png' %}" alt="dog-picture">
                    {% else %}
                    <img src="{{ dog.dog_image.url }}" alt="dog-picture">
                    {% endif %}
                </td>
                <td>{{ dog.dog_name }}</td>
                <td>{{ dog.breeder|default:"-" }}</td>
                <td>{{ dog.gender }}</td>
                <td>{{ dog.day_of_birth|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{ dog.chip_number|default:"-" }}</td>
                <td>{{ dog.field_exam_0|default:"-" }}</td>
                <td>{{ dog.field_exam_1|default:"-" }}</td>
                <td>{{ dog.ruins_exam_0|default:"-" }}</td>
                <td>{{ dog.ruins_exam_1|default:"-" }}</td>
                <td>{{ dog.owner|default:"-" }}</td>
                <td>Więcej/Edytuj &raquo;</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="pagination">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a> |
            {% endif %}

            <span>
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                | <a href="?page={{ page_obj.next_page_number }}"> następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}
