{% extends "base.html" %}
{% load static %}
{% load verbose_name_tags %}

{% block title %}
{{ group_name_short }} - Szczegóły ...
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'register/member-detail-view.css' %}">
{% endblock %}

{% block content %}
<section id="main-member-detail-section">
    <div>
        <div>
            {{ member.member_image }}
        </div>
        <div>
            <p>{{ member.member_name }} {{ member.member_surname }}</p>
            <p>ID: {{ member.id}}</p>
        </div>
    </div>

    <div>
        <div>
            <p>{% get_field_verbose_name member "member_mobile" %}:</p>
            <p>{% get_field_verbose_name member "member_email" %}:</p>
            <p>{% get_field_verbose_name member "kpp_course" %}:</p>
            <p>{% get_field_verbose_name member "kpp_validity" %}:</p>
            <p>{% get_field_verbose_name member "medical_exam" %}:</p>
            <p>{% get_field_verbose_name member "medical_exam_validity" %}:</p>
            <p>{% get_field_verbose_name member "dog_guide_course" %}:</p>
            <p>{% get_field_verbose_name member "osp_course" %}:</p>
            <p>Psy:</p>
        </div>
        <div>
            <p>{{ member.member_mobile }}</p>
            <p>{{ member.member_email }}</p>
            <p>{{ member.kpp_course }}</p>
            <p>{{ member.kpp_validity|date:"d/m/Y" }}</p>
            <p>{{ member.medical_exam }}</p>
            <p>{{ member.medical_exam_validity|date:"d/m/Y" }}</p>
            <p>{{ member.dog_guide_course }}</p>
            <p>{{ member.osp_course }}</p>
            {% for dog in member.dogs.all %}
            <p>{{ dog.dog_name }}</p>
            {% empty %}
            <p>-</p>
            {% endfor %}
        </div>
    </div>

    <div class="member-details-buttons">
        <div>
            <button type="button" class="member-details-button-back">
                <a href="{% url 'register:flota' %}">Powrót</a>
            </button>
        </div>
        <div>
            <button type="button" class="member-details-button-edit">
                <a href="{% url 'register:flota' %}">Edytuj</a>
            </button>
        </div>
    </div>
</section>
{% endblock %}
