{% extends "base.html" %}
{% load static %}

{% block title %}
{{ group_name_short }} - Dodaj Członka
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'register/member-form.css' %}">
{% endblock %}

{% block content %}
<section id="main-member-form-section">
    <div class="member-form-header">
        <p>Dodaj członka</p>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="member-form-fields">
                <div class="member-form-image-section">
                    <img src="{% static 'images/default-member.png' %}" class="member-form-image" alt="member-picture">
                    <p>{{ form.member_image }}</p>
                </div>
                <div class="member-form-data-section">
                    <p>{{ form.member_name.label }} *:</p>
                    <p>{{ form.member_name }}</p>
                    <p>{{ form.member_surname.label }} *:</p>
                    <p>{{ form.member_surname }}</p>
                    <p>{{ form.member_mobile.label }}:</p>
                    <p>{{ form.member_mobile }}</p>
                    <p>{{ form.member_email.label }}:</p>
                    <p>{{ form.member_email }}</p>
                    <p>{{ form.kpp_course.label }}:</p>
                    <p>{{ form.kpp_course }}</p>
                    <p>{{ form.medical_exam.label }}:</p>
                    <p>{{ form.medical_exam }}</p>
                    <p>{{ form.dog_guide_course.label }}:</p>
                    <p>{{ form.dog_guide_course }}</p>
                    <p>{{ form.osp_course.label }}:</p>
                    <p>{{ form.osp_course }}</p>
                    <p class="member-mandatory-field">* Pole obowiązkowe.</p>
                    <div>
                    </div>
                </div>
            </div>
            <div class="member-form-buttons">
                <button type="button" class="member-form-button-back">
                    <a href="{% url 'register:zespol' %}">Powrót</a>
                </button>
                <button type="submit" class="member-form-button-save">Zapisz</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}