{% extends "base.html" %}
{% load static %}

{% block title %}
{{ group_name_short }} - Dodaj Członka
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'register/member-form.css' %}">
{% endblock %}

{% block content %}
<section id="main-member-form-section">
    <div class="member-form-header">
        <p>Dodaj członka</p>
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="member-form-fields">
                <div>
                    <p>{{ form.member_image.label }}:</p>
                    <p>{{ form.member_image }}</p>
                </div>
                <div>
                    <p>{{ form.member_name.label }}:</p>
                    <p>{{ form.member_name }}</p>
                </div>
                <div>
                    <p>{{ form.member_surname.label }}:</p>
                    <p>{{ form.member_surname }}</p>
                </div>
                <div>
                    <p>{{ form.member_mobile.label }}:</p>
                    <p>{{ form.member_mobile }}</p>
                </div>
                <div>
                    <p>{{ form.member_email.label }}:</p>
                    <p>{{ form.member_email }}</p>
                </div>
                <div>
                    <p>{{ form.kpp_course.label }}:</p>
                    <p>{{ form.kpp_course }}</p>
                </div>
                <div>
                    <p>{{ form.medical_exam.label }}:</p>
                    <p>{{ form.medical_exam }}</p>
                </div>
                <div>
                    <p>{{ form.dog_guide_course.label }}:</p>
                    <p>{{ form.dog_guide_course }}</p>
                </div>
                <div>
                    <p>{{ form.osp_course.label }}:</p>
                    <p>{{ form.osp_course }}</p>
                </div>
                <div>
                    <p>{{ form.owned_dog.label }}:</p>
                    <p>{{ form.owned_dog }}</p>
                </div>
                <div>
                    <p>Dodaj nowego psa &raquo;</p>
                </div>
                <button type="submit">Zapisz</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}