{% extends "base.html" %}
{% load static %}

{% block title %}
{{ group_name_short }} - Dodaj Członka
{% endblock %}

{% block css_files %}
{% endblock %}

{% block content %}
<section id="main-member-form-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <thead>
                <tr></tr>
            </thead>
            <tr>
                <td>{{ form.member_image.label }}: {{ form.member_image }}</td>
            </tr>
            <tr>
                <td>{{ form.member_name.label }}: {{ form.member_name }}</td>
            </tr>
            <tr>
                <td>{{ form.member_surname.label }}: {{ form.member_surname }}</td>
            </tr>
            <tr>
                <td>{{ form.member_mobile.label }}: {{ form.member_mobile }}</td>
            </tr>
            <tr>
                <td>{{ form.member_email.label }}: {{ form.member_email }}</td>
            </tr>
            <tr>
                <td>{{ form.kpp_course.label }}: {{ form.kpp_course }}</td>
            </tr>
            <tr>
                <td>{{ form.medical_exam.label }}: {{ form.medical_exam }}</td>
            </tr>
            <tr>
                <td>{{ form.dog_guide_course.label }}: {{ form.dog_guide_course }}</td>
            </tr>
            <tr>
                <td>{{ form.osp_course.label }}: {{ form.osp_course }}</td>
            </tr>
            <tr>
                <td>{{ form.owned_dog.label }}: {{ form.owned_dog }}</td>
            </tr>
            <tr>
                <td>Dodaj nowego psa &raquo;</td>
            </tr>
            <tr>
                <td><button type="submit">Zapisz</button></td>
            </tr>
        </table>
</section>
{% endblock %}