{% extends "base.html" %}
{% load static %}

{% block title %}
{{ group_name_short }} - Zespół
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'register/team.css' %}">
{% endblock %}

{% block content %}
<section id="main-team-section">
    <div class="member-page-title">
        <p>ZESPÓŁ</p>
    </div>
    <div class="member-add-section">
        <button type="button" class="member-add-button">
            <a href="{% url 'register:dodaj-czlonka' %}">Dodaj członka</a>
        </button>
    </div>

    <div>
        {% if member_list|length == 0 %}
        <p>Brak członków do wyświetlenia.</p>
        {% else %}
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Zdjęcie</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Kontakt</th>
                <th>Email</th>
                <th>KPP</th>
                <th>Badania</th>
                <th>Kurs Przewodników</th>
                <th>Kurs OSP</th>
                <th>Psy</th>
            </tr>
            </thead>
            <tbody>
            {% for member in member_list %}
            <tr>
                <td class="member-lp-cell">{{ forloop.counter0|add:page_obj.start_index }}.</td>
                <td class="member-image-cell">
                    {% if not member.member_image %}
                        <img src="{% static 'images/default-member.png' %}" alt="member-picture">
                    {% else %}
                        <img src="{{ member.member_image.url }}" alt="member-picture">
                    {% endif %}
                </td>
                <td>{{ member.member_name }}</td>
                <td>{{ member.member_surname }}</td>
                <td>{{ member.member_mobile|default:"-" }}</td>
                <td class="member-email-cell">{{ member.member_email|default:"-" }}</td>
                <td>{{ member.kpp_course|default:"-" }}</td>
                <td>{{ member.medical_exam|default:"-" }}</td>
                <td>{{ member.dog_guide_course|default:"-" }}</td>
                <td>{{ member.osp_course|default:"-" }}</td>
                <td>{% for dog in member.dogs.all %}
                        <p>{{ dog.dog_name }}</p>
                    {% empty %}
                        <p>-</p>
                    {% endfor %}</td>
                <td>Więcej/Edytuj &raquo;</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="pagination">
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a> |
            {% endif %}

            <span>
                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                | <a href="?page={{ page_obj.next_page_number }}"> następna</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}
