* {
    margin: 0;
}

#notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notfound-404 {
    width: 250px;
    height: 250px;
    background-color: orange;
    margin-bottom: 80px;
    transform: rotate(45deg);
    border: 6px dashed;
    border-radius: 7px;
}

.notfound-404 h1 {
    text-align: center;
    font-size: 100px;
    line-height: 250px;
    transform: rotate(-45deg);
}

.notfound-404-message h2 {
    font-size: 26px;
    margin: 0 0 20px 0;
}
