* {
    margin: 0;
}

#main-dog-section {
    width: 90vw;
    align-self: start;
    margin-top: 50px;
}

table {
  align-self: flex-start;
  text-align: center;
}

table,
td {
  border: 1px solid #333;
}

thead {
  background-color: #333;
}

th {
  color: #eee;
  padding: 3px 10px;
  max-width: 150px;
}

td {
  width: 150px;
  max-width: 150px;
  overflow-wrap: break-word;
}

.dog-page-title {
    text-align: center;
    margin-bottom: 20px;
}

.dog-page-title p {
    font-size: 30px;
    font-weight: bold;
}

.dog-lp-cell {
    width: 50px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    background-color: #DCDCDC;
}

.dog-image-cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.pagination {
    margin-top: 15px;
    text-align: center;
}
