* {
    margin: 0;
}

#main-fleet-section {
    width: 90vw;
    align-self: start;
    margin-top: 50px;
}

table {
  align-self: flex-start;
  text-align: center;
}

table,
td {
  border: 1px solid #333;
}

thead {
  background-color: #333;
}

th {
  color: #eee;
  padding: 3px 10px;
  max-width: 150px;
}

td {
  width: 150px;
  max-width: 150px;
  overflow-wrap: break-word;
}

.fleet-page-title {
    text-align: center;
    margin-bottom: 20px;
}

.fleet-page-title p {
    font-size: 30px;
    font-weight: bold;
}

.fleet-lp-cell {
    width: 50px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    background-color: #DCDCDC;
}

.fleet-comment-cell {
    width: 500px;
    max-width: 400px;
    padding: 12px;
    overflow: hidden;
}

.pagination {
    margin-top: 15px;
    text-align: center;
}
