* {
    margin: 0;
}

#main-member-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-top: 50px;
}

.member-form-header {
    text-align: center;
    margin-bottom: 20px;
}

.member-form-header p {
    font-size: 30px;
    font-weight: bold;
}

.member-form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

p {
    display: inline;
}