* {
    margin: 0;
}

#member-detail-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.member-detail-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-detail-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.member-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%
}

.member-detail-basic-data {
    text-align: center;
}

.member-name-surname {
    font-size: 26px;
    font-weight: bold;
}

.member-name-id {
    font-size: 20px;
    font-weight: bold;
}

.member-detail-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
}

.member-detail-data p{
    width: 250px;
}

.member-detail-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-details-buttons {
    display: flex;
    justify-content: space-around;
}

.member-details-button-back {
    border-radius: 5px;
}

.member-details-button-back a {
    color: black;
    text-decoration: none;
}

.member-details-button-back a:hover {
    font-weight: bold;
}

.member-details-button-edit {
    background-color: green;
    border-radius: 5px;
    color: white;
}

.member-details-button-edit a {
    color: black;
    text-decoration: none;
}

.member-details-button-edit:hover {
    font-weight: bold;
}
